﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="AlbumImagesView.ascx.cs" Inherits="NRNA.Modules.GalleryModule.Controls.AlbumImagesView" %>

<h3>
    <asp:Label runat="server" ID="lblTitle"></asp:Label></h3>
<div class="photo-gallery">
    <asp:Repeater runat="server" ID="rptrItem">
        <ItemTemplate>
            <div class="gallery">
                <div class="image">
                    <asp:HyperLink ID="HyperLink1" runat="server"
                        NavigateUrl='<%# GetAlbumImageFile(DataBinder.Eval(Container.DataItem,"ImageFile").ToString())%>' CssClass="lightbox" rel="gallery">
                       
                        <asp:Image runat="server"
                        ImageUrl='<%# GetImageFromImageID(DataBinder.Eval(Container.DataItem,"ImageFile").ToString()) %>' AlternateText="image"></asp:Image></asp:HyperLink>
                </div>
                <strong class="title">
                    <asp:label ID="lblCaption" runat="server" Text='<%# DataBinder.Eval(Container.DataItem,"Caption").ToString() %>'>
                    </asp:label>
                </strong>
                <%-- <asp:Panel ID="pnlAdmin" runat="server" Visible="false">
                    <asp:HyperLink ID="lnkEdit" runat="server" Text="Edit" Visible="false" Enabled="false" CommandName="Edit"></asp:HyperLink>
                    <asp:LinkButton ID="lnkDelete" runat="server" Text="Delete" Visible="false" Enabled="false" CommandName="Delete"></asp:LinkButton>
                </asp:Panel>--%>
            </div>
        </ItemTemplate>
    </asp:Repeater>
</div>

<script type="text/javascript">
    function OnClientImageLoad(imageEditor, args) {
        imageEditor.zoomBestFit();
    }
</script>
